#
# Before using this .gitlab-ci.yml:
#
# - This example uses the latest Docker image, but you might want to use the
#   exact version to avoid any broken pipelines.
#   All available Hugo versions are listed under https://gitlab.com/pages/hugo/container_registry.
# - Read about the difference between hugo and hugo_extended
#   https://gitlab.com/pages/hugo/-/blob/main/README.md#hugo-vs-hugo_extended.
# - To change the theme, see
#   https://gitlab.com/pages/hugo/-/blob/main/README.md#use-a-custom-theme.
#
image: registry.gitlab.com/pages/hugo/hugo_extended:latest

variables:
  HUGO_ENV: production
  THEME_URL: "github.com/theNewDynamic/gohugo-theme-ananke"

stages:
  - deploy

github-sync:
  stage: deploy
  script:
    - git config --global user.email "benxu@bistu.edu.cn"
    - git config --global user.name "BenXuBISTU"
    - git remote add github https://${GITHUB_TOKEN}@github.com/BenXuBISTU/hugocloudflare.git || true
    - mkdir -p temp_content
    - cp -r content static config.toml themes temp_content/
    - cd temp_content
    - git init
    - git add .
    - git commit -m "content: update site content" || true
    - git push -f github HEAD:master
  only:
    - master
